# PostgreSQL
POSTGRES_DB=ride_hailing
POSTGRES_USER=ride_admin
POSTGRES_PASSWORD=ride_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TELEMETRY_TOPIC=ride_telemetry
KAFKA_EXPENSE_TOPIC=vehicle_expenses

# Simulation
TELEMETRY_INTERVAL_SECONDS=3
SIMULATED_DAY_MINUTES=5
SIMULATION_START_DATE=2026-09-28T00:00:00+00:00

# API
API_HOST=0.0.0.0
API_PORT=8000

# Monitoring
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000